* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(28, 28, 32);
  height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 240, 255);
  text-decoration: none;
}

.container {
  background-color: rgb(40, 40, 44);
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.Navbar li {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-right: 50px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(40, 40, 44);
  display: none;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.Footer .text {
  display: inline-flex;
  color: white;
  flex-direction: column;
  margin: 50px;
  align-items: flex-start;
  justify-content: center;
}

.line {
  background-color: rgb(0, 240, 255);
  height: 2px;
  width: 100%;
  margin-top: 29px;
}

.line2 {
  background-color: rgb(0, 100, 100);
  height: 2px;
  width: 100%;
  box-shadow: 0px 0px 40px black;
}
/* 




*/

.Space {
  position: static;
  display: flex;
  justify-content: center;
}

.contact-box {
  border-radius: 5px;
  width: 90%;
  display: grid;
  grid-template-columns: (1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(40, 40, 44);
  box-shadow: 0px 0px 8px 5px rgba(22, 173, 184, 0.19);
}

.right {
  padding: 15px 20px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: #fff;
}

h2:after {
  content: "";
  position: absolute;
  left: 17%;
  bottom: 0;
  height: 4px;
  width: 66%;
  border-radius: 2px;
  background-color: rgb(0, 240, 255);
}

.field {
  width: 100%;
  border: 2px solid rgb(48, 47, 47);
  outline: none;
  background-color: rgba(34, 34, 34, 0.795);
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  transition: 0.2s;
  border-radius: 6px;
  margin: 20px 0px 0px;
}

.field:hover {
  background-color: rgb(44, 43, 43);
}

textarea {
  min-height: 150px;
  min-width: 100%;
  max-width: 100%;
  color: #fff;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 240, 255);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  margin-top: 15px;
}

.btn:hover {
  background-color: rgb(4, 180, 192);
}

.field:focus {
  border: 2px solid rgb(0, 240, 255);
  background-color: rgb(44, 43, 43);
}

label {
  color: rgb(167, 158, 158);
  display: flex;
  justify-content: left;
}

info {
  color: rgb(167, 158, 158);
  font-size: 15px;
}

input {
  color: #fff;
}

.wrapper {
  width: 100%;
  padding-top: 8%;
}
/* 

TABLET SIZE

*/
@media only screen and (min-width: 768px) {
  .container {
    display: block;
  }

  .Footer {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }

  .Footer .text {
    display: inline-flex;
    color: white;
    flex-direction: column;
    margin: 15px;
    align-items: flex-start;
    margin-left: 90px;
  }

  .Navbar li {
    font-size: 20px;
  }

  .wrapper {
    padding-top: 20%;
    padding-bottom: 20%;
    width: 750px;
    margin: 0 auto;
  }

  info {
    font-size: 17px;
  }

  .field {
    font-size: 20px;
  }

  .btn {
    font-size: 20px;
    margin-top: 30px;
  }

  h2:after {
    left: 37%;
    width: 26%;
  }
}

/* 

PC SIZE

*/

@media only screen and (min-width: 1000px) {
  .wrapper {
    padding-top: 6.9%;
    width: 1000px;
  }

  .contact-box {
    width: 70%;
  }

  .right {
    padding: 10px 13px 20px;
  }

  .Footer {
    display: flex;
    flex-wrap: wrap;
  }
}
