body {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
}

ul {
  list-style: none;
  bottom: 100px;
}

.btn {
  width: 15px;
  font-size: 20px;
  background: none;
  border: none;
}

.btn:hover {
  color: red;
  cursor: pointer;
}

#todos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1560px;
  height: 100px;
}

img {
  width: 280px;
  height: 280px;
}

#display_image{
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

